<div class="p-3 rounded-lg m-10 md:w-8/12 mt-5 md:mt-10 w-11/12 mx-auto items-center bg-base-200">
	<%= form_with url: properties_path, method: :get do |form| %>
		<div class="flex justify-start md:gap-4 gap-2 items-center">
			<div class="form-control w-24">
				<label class="label" for="variant">
					<span class="label-text">Variant</span>
				</label>
				<select name="variant" class="select select-bordered select-sm">
					<option value="All">All</option>
					<option value="Land" <%= "selected" if @selected_variant == "Land" %>>Land</option>
					<option value="Flat" <%= "selected" if @selected_variant == "Flat" %>>Flat</option>
				</select>
			</div>
			<div class="form-control w-fit">
				<label class="label" for="area">
					<span class="label-text">Area</span>
				</label>
				<select name="area" class="select select-bordered select-sm">
					<option value="All">All</option>
					<option value="Mirpur" <%= "selected" if @selected_area == "Adabor" %>>Adabor</option>
					<option value="Cantonment" <%= "selected" if @selected_area == "Cantonment" %>>Cantonment</option>
					<option value="Kafrul" <%= "selected" if @selected_area == "Kafrul" %>>Kafrul</option>
					<option value="Mirpur" <%= "selected" if @selected_area == "Mirpur" %>>Mirpur</option>
					<option value="Mohammadpur" <%= "selected" if @selected_area == "Mohammadpur" %>>Mohammadpur</option>
					<option value="Pallabi" <%= "selected" if @selected_area == "Pallabi" %>>Pallabi</option>
					<option value="Rupnagar" <%= "selected" if @selected_area == "Rupnagar" %>>Rupnagar</option>
					<option value="Savar" <%= "selected" if @selected_area == "Savar" %>>Savar</option>
					<option value="Uttara" <%= "selected" if @selected_area == "Uttara" %>>Uttara</option>
					<option value="Uttarkhan" <%= "selected" if @selected_area == "Uttarkhan" %>>Uttarkhan</option>
				</select>
			</div>

			<div class="form-control w-fit">
				<label class="label" for="order_by">
					<span class="label-text">Sort by</span>
				</label>
				<select name="order_by" class="select select-bordered select-sm">
					<option value="default"<%= "selected" if @selected_order == "default" %>>Default</option>
					<option value="created_at" <%= "selected" if @selected_order == "created_at" %>>Newest</option>
					<option value="price"<%= "selected" if @selected_order == "price" %>>Price</option>
					<option value="popularity"<%= "selected" if @selected_order == "popularity" %>>Popularity</option>
				</select>

			</div>

			<div class="form-control w-fit">
				<label class="label" for="order">
					<span class="label-text">Order</span>
				</label>
				<select name="order" class="select select-bordered select-sm">
					<option value="ASC"<%= "selected" if @selected_order_dir == "ASC" %>>Ascending</option>
					<option value="DESC"<%= "selected" if @selected_order_dir == "DESC" %>>Descending</option>
				</select>

			</div>

			<div class="form-control">
				<label class="label" for="submit">
					<span class="label-text">&nbsp;</span>
				</label>
				<%= form.submit "Filter", class: "btn btn-secondary btn-sm" %>
			</div>
			
		</div>
	<% end %>
</div>
