<div id="<%= dom_id appointment %>">
  <p>
    <strong>Property:</strong>
    <%= appointment.property_id %>
  </p>

  <p>
    <strong>Agent:</strong>
    <%= appointment.agent_id %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= appointment.date %>
  </p>

  <p>
    <strong>Client name:</strong>
    <%= appointment.client_name %>
  </p>

  <p>
    <strong>Client address:</strong>
    <%= appointment.client_address %>
  </p>

  <p>
    <strong>Time slot:</strong>
    <%= appointment.time_slot %>
  </p>

  <p>
    <strong>Client phone number:</strong>
    <%= appointment.client_phone_number %>
  </p>

  <p>
    <strong>Addtional query:</strong>
    <%= appointment.addtional_query %>
  </p>

</div>
